<%- include('../partials/header.ejs') %>
<a href="/applications/new">Add a Game</a>
<% if (applications.length) {%>
    <ul>
        <% applications.forEach((application) => { %>
        <li><%= application.title %> at <%= application.game %></li>
        <% }) %>
      </ul>
<% } else {%>
    <h3> You don't have any video game reviews posted yet</h3>
<%} %>
<%- include('../partials/footer.ejs') %>
