<%- include('../partials/header.ejs') %>

<form action="" method="">
    <label for="title">Game Title</label>
    <input type="text" name="title" id="title" required />
  
    <label for="comments">Comments</label>
    <input type="text" name="comments" id="comments" required />
    <label for="console">Gaming Console</label>
    <input type="text" name="console" id="console" required />
  
  <button type="submit">Submit Video Game</button>
</form>
<%- include('../partials/footer.ejs') %>
