<%- include('../partials/header.ejs') %>

<form action="" method="">
    <label for="title">Game Title</label>
    <input type="text" name="title" id="title" />
  
    <label for="comments">Comments</label>
    <input type="text" name="comments" id="comments" />
    <label for="console">Gaming Console</label>
    <input type="text" name="console" id="console" />
  
  <button type="submit">Add Video Game</button>
</form>
<%- include('../partials/footer.ejs') %>
