<%- include('../partials/header.ejs') %>

<form action="/applications" method="POST">
    <label for="game">Game Title</label>
    <input type="text" name="game" id="game" required />
  
    <label for="comments">Comments</label>
    <input type="text" name="comments" id="comments" required />
    <label for="console">Gaming Console</label>
    <input type="text" name="console" id="console" required />
  
  <button type="submit">Submit Video Game</button>
</form>
<%- include('../partials/footer.ejs') %>
